In [1]:
import pandas as pd
import numpy as np

df=pd.read_csv('/Users/allisongross/repos/titanic/pyconuk-introtutorial/data/train.csv')

In [2]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df = df.drop(['Name', 'Ticket', 'Cabin'], axis=1)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.7+ KB

In [5]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 0 to 890
Data columns (total 9 columns):
PassengerId    712 non-null int64
Survived       712 non-null int64
Pclass         712 non-null int64
Sex            712 non-null object
Age            712 non-null float64
SibSp          712 non-null int64
Parch          712 non-null int64
Fare           712 non-null float64
Embarked       712 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 55.6+ KB

In [6]:
from sklearn import preprocessing

le_sex = preprocessing.LabelEncoder()
le_sex.fit(df['Sex'])
df['Gender']=le_sex.transform(df['Sex'].values)

In [7]:
le_emb=preprocessing.LabelEncoder()
le_emb.fit(df['Embarked'])
df['Port']=le_emb.transform(df['Embarked'].values)

In [8]:
df = df.drop(['Sex', 'Embarked'], axis=1)

In [9]:
cols = df.columns.tolist()
print cols

['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Gender', 'Port']

In [10]:
cols = [cols[1]] + cols[0:1] + cols[2:]
df = df[cols]

In [11]:
df.head()

   Survived  PassengerId  Pclass   Age  SibSp  Parch     Fare  Gender  Port
0         0            1       3  22.0      1      0   7.2500       1     2
1         1            2       1  38.0      1      0  71.2833       0     0
2         1            3       3  26.0      0      0   7.9250       0     2
3         1            4       1  35.0      1      0  53.1000       0     2
4         0            5       3  35.0      0      0   8.0500       1     2

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 0 to 890
Data columns (total 9 columns):
Survived       712 non-null int64
PassengerId    712 non-null int64
Pclass         712 non-null int64
Age            712 non-null float64
SibSp          712 non-null int64
Parch          712 non-null int64
Fare           712 non-null float64
Gender         712 non-null int64
Port           712 non-null int64
dtypes: float64(2), int64(7)
memory usage: 55.6 KB

In [13]:
train_data = df.values

In [14]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators = 100)

In [15]:
model = model.fit(train_data[0:,2:], train_data[0:,0])

In [16]:
df_test=pd.read_csv('/Users/allisongross/repos/titanic/pyconuk-introtutorial/data/test.csv')

df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [17]:
df_test = df_test.drop(['Name', 'Ticket', 'Cabin'], axis=1)
df_test = df_test.dropna()

In [18]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 331 entries, 0 to 415
Data columns (total 8 columns):
PassengerId    331 non-null int64
Pclass         331 non-null int64
Sex            331 non-null object
Age            331 non-null float64
SibSp          331 non-null int64
Parch          331 non-null int64
Fare           331 non-null float64
Embarked       331 non-null object
dtypes: float64(2), int64(4), object(2)
memory usage: 23.3+ KB

In [19]:
df_test['Gender']= le_sex.transform(df_test['Sex'].values)
df_test['Port']= le_emb.transform(df_test['Embarked'].values)
df_test = df_test.drop(['Sex', 'Embarked'], axis=1)

In [20]:
test_data = df_test.values

In [21]:
output = model.predict(test_data[:,1:])

In [22]:
result = np.c_[test_data[:,0].astype(int), output.astype(int)]
df_result = pd.DataFrame(result[:,0:2], columns=['PassengerId', 'Survived'])

In [23]:
df_result.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         1
4          896         0

In [25]:
df_result.to_csv('/Users/allisongross/repos/titanic/Results/titanic_1.csv')

In [26]:
%pwd

u'/Users/allisongross'